
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/bundles/jquery")
}
<center>
    <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        @Maps.GetGoogleHtml("1310 Commercial Street, Bellingham, WA 98225", zoom: 12, width: "800px", height: "400px")
    </div>
</center>





   

